<%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Dane właściciela</h2>
            <form class="form" id="detailsForm">
                <label for="firstName">Imię:</label>
                <input type="text" name="firstName" id="firstName" value="Jan" disabled>
                <label for="lastName">Nazwisko:</label>
                <input type="text" name="lastName" id="lastName" value="Kowalski" disabled>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" value="j.kowalski@tmp.mail" disabled>
                <label for="phoneNumber">Numer telefonu:</label>
                <input type="text" name="phoneNumber" id="phoneNumber" value="876234566" disabled>
                <div class="form-buttons">
                    <a href="/owners/edit" class="list-actions-button-edit">Edytuj</a>
                </div>
            </form>
            <h2>Auta właściciela</h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>VIN</th>
                        <th>Data rejestracji od</th>
                        <th>Data rejestracji do</th>
                        <th>Numer rejestracyjny</th>
                        <th>Numer ubezpieczenia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>JM1FE17N000000001</td>
                        <td>01.02.2006</td>
                        <td>01.02.2015</td>
                        <td>WPU 88888</td>
                        <td>01 23456789</td>
                    </tr>
                </tbody>
            </table>
            <a href="/owners" class="list-actions-button-details">Powrót</a>
        </main>
<%- include('../../fragments/footer.ejs') %>