            <div class="rightPanel">
                <% for(let i=0; i<announcements.length; i++) { let announcement = announcements[i]; %>
                    <% console.log(announcements.length+"-------------------------");%>
                    <h4><%= announcement.text %></h4>
                <% } %>
            </div>
        </div>
        <footer onmouseenter="changeFooter()">
            Mateusz, Godlewski, s19282, Copyright &copy;
        </footer>
    </body>
</html>