<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title>Wydział komunikacji</title>
        <link rel="icon" type="image/png" href="/_images/icon.png"/>
        <link rel="stylesheet" href="/_css/style.css">
        <script src="/_js/script.js"></script>
        <!--TODO: clientSideValidation-->
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </head>
    <body>
        <header>
            <h1>Wydział komunikacji</h1>
            <img src="/_images/icon.png" alt="WK logo">
        </header>
        <div class="centerBox">
            <nav>
                <ul class="list-actions">
                    <li><a href="/" class="<%= navLocation === 'main' ? 'active' : ''%>">Strona główna</a></li>
                    <li><a href="/owners" class="<%= navLocation === 'owner' ? 'active' : ''%>">Właściciele</a></li>
                    <li><a href="/registrations" class="<%= navLocation === 'ownerVehicle' ? 'active' : ''%>">Pojazdy właścicieli</a></li>
                    <li><a href="/vehicles" class="<%= navLocation === 'vehicle' ? 'active' : ''%>">Zarejestrowane Pojazdy</a></li>
                </ul>
            </nav>