<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title>Wydział komunikacji</title>
        <link rel="icon" type="image/png" href="/public/_images/icon.png"/>
        <link rel="stylesheet" href="../../_css/style.css">
        <script src="/_js/script.js"></script>
        <script src=/"_js/validationCommon.js"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </head>
    <body>
        <header>
            <h1>Wydział komunikacji</h1>
            <img src="/_images/icon.png" alt="WK logo">
        </header>
        <div class="centerBox">
            <nav>
                <ul class="list-actions">
                    <li><a href="/" class="active">Strona główna</a></li>
                    <li><a href="/owners">Właściciele</a></li>
                    <li><a href="/ownerVehicles">Pojazdy właścicieli</a></li>
                    <li><a href="/vehicles">Zarejestrowane Pojazdy</a></li>
                </ul>
            </nav>