<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title>Wydział komunikacji</title>
        <link rel="icon" type="image/png" href="public/_images/icon.png"/>
        <link rel="stylesheet" href="../../../public/_css/style.css">
        <script src="public/_js/script.js"></script>
        <script src="public/_js/validationCommon.js"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </head>
    <body>
        <header>
            <h1>Wydział komunikacji</h1>
            <img src="public/_images/icon.png" alt="WK logo">
        </header>
        <div class="centerBox">
            <nav>
                <ul class="list-actions">
                    <li><a href="public/index.html">Strona główna</a></li>
                    <li><a href="public/_html/owner-list.html">Właściciele</a></li>
                    <li><a href="public/_html/ownersCars-list.html">Pojazdy właścicieli</a></li>
                    <li><a href="list.ejs" class="active">Zarejestrowane Pojazdy</a></li>
                </ul>
            </nav>
            <main>
                <h2>Dane pojazdu</h2>
                <form class="form" id="detailsForm">
                    <label for="vin">Numer VIN:</label>
                    <input type="text" name="vin" id="vin" value="JM1FE17N000000001" disabled>
                    <label for="name">Marka:</label>
                    <input type="text" name="name" id="name" value="Mazda" disabled>
                    <label for="model">Model:</label>
                    <input type="text" name="model" id="model" value="Rx-8" disabled>
                    <label for="firstRegistrationDate">Data pierwszej rejestracji:</label>
                    <input type="text" name="firstRegistrationDate" id="firstRegistrationDate" value="01.02.2003" disabled>
                    <label for="engineCapacity">Pojemność silnika:</label>
                    <input type="text" name="engineCapacity" id="engineCapacity" value="1300" disabled>
                    <div class="form-buttons">
                        <a href="edit.ejs" class="list-actions-button-edit">Edytuj</a>
                    </div>
                </form>
                <h2>Aktualni właściciele auta</h2>
                <table class="table-list">
                    <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Adres email</th>
                        <th>Data rejestracji od</th>
                        <th>Data rejestracji do</th>
                        <th>Numer rejestracyjny</th>
                        <th>Numer ubezpieczenia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Jan</td>
                        <td>Kowalski</td>
                        <td>j.kowalski@tmp.mail</td>
                        <td>8.04.2007</td>
                        <td>4.12.2019</td>
                        <td>ABC 50555</td>
                        <td>89451684123</td>
                    </tr>
                    </tbody>
                </table>
                <h2>Poprzedni właściciele auta</h2>
                <table class="table-list">
                    <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Adres email</th>
                        <th>Data rejestracji od</th>
                        <th>Data rejestracji do</th>
                        <th>Numer rejestracyjny</th>
                        <th>Numer ubezpieczenia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Blanka</td>
                        <td>Michalska</td>
                        <td>b.michalska@tmp.mail</td>
                        <td>1.04.2010</td>
                        <td>9.12.2014</td>
                        <td>BCF 86654</td>
                        <td>9864545445</td>
                    </tr>
                    <tr>
                        <td>Mirosław</td>
                        <td>Pawłowski</td>
                        <td>m.pawlowski@tmp.mail</td>
                        <td>01.02.2003</td>
                        <td>31.03.2010</td>
                        <td>BCF 86654</td>
                        <td>8944852885</td>
                    </tr>
                    </tbody>
                </table>
                <a href="list.ejs" class="list-actions-button-details">Powrót</a>
            </main>
            <div class="rightPanel">
                <h4>
                    Przypominamy, że z powodu obecnej sytuacji epidemiologicznej obsługa interesantów
                    odbywa się wyłącznie telefonicznie lub mailowo.
                </h4>
                <h4>
                    W związku z epidemią czas na rejestrację pojazdu zostaje wydłużony z 30 do 180 dni.
                </h4>
            </div>
        </div>
        <footer onmouseenter="changeFooter()">
            Mateusz, Godlewski, s19282, Copyright &copy;
        </footer>
    </body>
</html>