<%- include('../../fragments/header.ejs') %>
            <main>
                <h2>Dodaj pojazd</h2>
                <form class="form" novalidate onsubmit="return validateForm()">
                    <label for="vin">Numer VIN:<sup>*</sup></label>
                    <input type="text" name="vin" id="vin" placeholder="5-30 znaków">
                    <span id="errorVin" class="errors-text"></span>
                    <label for="name">Marka:<sup>*</sup></label>
                    <input type="text" name="name" id="name" placeholder="2-30 znaków">
                    <span id="errorName" class="errors-text"></span>
                    <label for="model">Model:<sup>*</sup></label>
                    <input type="text" name="model" id="model" placeholder="1-30 znaków">
                    <span id="errorModel" class="errors-text"></span>
                    <label for="firstRegistrationDate">Data pierwszej rejestracji:<sup>*</sup></label>
                    <input type="date" name="firstRegistrationDate" id="firstRegistrationDate">
                    <span id="errorFirstRegistrationDate" class="errors-text"></span>
                    <label for="engineCapacity">Pojemność silnika:<sup>*</sup></label>
                    <input type="text" name="engineCapacity" id="engineCapacity">
                    <span id="errorEngineCapacity" class="errors-text"></span>
                    <div class="form-buttons">
                        <p id="errorsSummary" class="errors-text"></p>
                        <input type="submit" value="Dodaj" class="form-button-submit" />
                        <a href="/vehicles" class="form-button-cancel">Anuluj</a>
                    </div>
                </form>
            </main>
<%- include('../../fragments/footer.ejs') %>