<%- include('../../fragments/header.ejs') %>
            <main>
                <h2>Dane właściciela</h2>
                <form class="form" id="detailsForm">
                    <label for="owner">Właściciel:</label>
                    <select name="owners" id="owner" disabled>
                        <option value="1">Jan Kowalski</option>
                        <option value="2">Mirosław Pawłowski</option>
                        <option value="3">Kinga Adamska</option>
                        <option value="4">Blanka Michalska</option>
                    </select>
                    <label for="vehicle">Pojazd:</label>
                    <select name="vehicles" id="vehicle" disabled>
                        <option value="1">Mazda Rx-8</option>
                        <option value="2">Subaru Impreza WRX STI</option>
                        <option value="3">Lexus GS450H</option>
                        <option value="4">Infiniti Fx50</option>
                    </select>
                    <label for="dateFrom">Data aktualnej rejestracji od:</label>
                    <input type="date" name="dateFrom" id="dateFrom" value="2007-06-01" disabled>
                    <label for="dateTo">Data aktualnej rejestraci do:</label>
                    <input type="date" name="dateTo" id="dateTo" disabled>
                    <label for="registrationNumber">Numer rejestracyjny:</label>
                    <input type="text" name="registrationNumber" id="registrationNumber" value="ABB 68433" disabled>
                    <label for="insuranceNumber">Numer ubezpieczenia:</label>
                    <input type="text" name="insuranceNumber" id="insuranceNumber" value="1564879231456" disabled>
                    <div class="form-buttons">
                        <a href="/ownerVehicles/edit" class="list-actions-button-edit">Edytuj</a>
                        <a href="/ownerVehicles/" class="list-actions-button-details">Powrót</a>
                    </div>
                </form>
            </main>
<%- include('../../fragments/footer.ejs') %>