<%- include('../../fragments/header.ejs') %>
            <main>
                <h2>Dodaj właściciela</h2>
                <form class="form" novalidate onsubmit="return validateForm()">
                    <label for="owner">Właściciel:<sup>*</sup></label>
                    <select name="owners" id="owner">
                        <option value="1">Jan Kowalski</option>
                        <option value="2">Mirosław Pawłowski</option>
                        <option value="3">Kinga Adamska</option>
                        <option value="4">Blanka Michalska</option>
                    </select>
                    <span id="errorOwner" class="errors-text"></span>
                    <label for="vehicle">Pojazd:<sup>*</sup></label>
                    <select name="vehicles" id="vehicle">
                        <option value="1">Mazda Rx-8</option>
                        <option value="2">Subaru Impreza WRX STI</option>
                        <option value="3">Lexus GS450H</option>
                        <option value="4">Infiniti Fx50</option>
                    </select>
                    <span id="errorVehicle" class="errors-text"></span>
                    <label for="dateFrom">Data aktualnej rejestracji od:<sup>*</sup></label>
                    <input type="date" name="dateFrom" id="dateFrom" value="2007-06-01">
                    <span id="errorDateFrom" class="errors-text"></span>
                    <label for="dateTo">Data aktualnej rejestraci do:</label>
                    <input type="date" name="dateTo" id="dateTo">
                    <span id="errorsDateTo" class="errors-text"></span>
                    <label for="registrationNumber">Numer rejestracyjny:<sup>*</sup></label>
                    <input type="text" name="registrationNumber" id="registrationNumber" value="ABB 68433">
                    <span id="errorRegistrationNumber" class="errors-text"></span>
                    <label for="insuranceNumber">Numer ubezpieczenia:<sup>*</sup></label>
                    <input type="text" name="insuranceNumber" id="insuranceNumber" value="1564879231456">
                    <span id="errorInsuranceNumber" class="errors-text"></span>
                    <div class="form-buttons">
                        <p id="errorsSummary" class="errors-text"></p>
                        <input type="submit" value="Dodaj" class="form-button-submit"/>
                        <a href="/ownerVehicles/" class="form-button-cancel">Anuluj</a>
                    </div>
                </form>
            </main>
<%- include('../../fragments/footer.ejs') %>