<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title>Wydział komunikacji</title>
        <link rel="icon" type="image/png" href="public/_images/icon.png"/>
        <link rel="stylesheet" href="../../../public/_css/style.css">
        <script src="public/_js/script.js"></script>
        <script src="public/_js/validationCommon.js"></script>
        <script src="public/_js/validationOwnersCarsForm.js"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </head>
    <body>
        <header>
            <h1>Wydział komunikacji</h1>
            <img src="public/_images/icon.png" alt="WK logo">
        </header>
        <div class="centerBox">
            <nav>
                <ul class="list-actions">
                    <li><a href="public/index.html">Strona główna</a></li>
                    <li><a href="../_html/owner-list.html">Właściciele</a></li>
                    <li><a href="list.ejs" class="active">Pojazdy właścicieli</a></li>
                    <li><a href="../_html/car-list.html">Zarejestrowane Pojazdy</a></li>
                </ul>
            </nav>
            <main>
                <h2>Dodaj właściciela</h2>
                <form class="form" novalidate onsubmit="return validateForm()">
                    <label for="owner">Właściciel:<sup>*</sup></label>
                    <select name="owners" id="owner">
                        <option value="">Wybierz</option>
                        <option value="1">Jan Kowalski</option>
                        <option value="2">Mirosław Pawłowski</option>
                        <option value="3">Kinga Adamska</option>
                        <option value="4">Blanka Michalska</option>
                    </select>
                    <span id="errorOwner" class="errors-text"></span>
                    <label for="vehicle">Pojazd:<sup>*</sup></label>
                    <select name="vehicles" id="vehicle">
                        <option value="">Wybierz</option>
                        <option value="1">Mazda Rx-8</option>
                        <option value="2">Subaru Impreza WRX STI</option>
                        <option value="3">Lexus GS450H</option>
                        <option value="4">Infiniti Fx50</option>
                    </select>
                    <span id="errorVehicle" class="errors-text"></span>
                    <label for="dateFrom">Data aktualnej rejestracji od:<sup>*</sup></label>
                    <input type="date" name="dateFrom" id="dateFrom">
                    <span id="errorDateFrom" class="errors-text"></span>
                    <label for="dateTo">Data aktualnej rejestraci do:</label>
                    <input type="date" name="dateTo" id="dateTo">
                    <span id="errorsDateTo" class="errors-text"></span>
                    <label for="registrationNumber">Numer rejestracyjny:<sup>*</sup></label>
                    <input type="text" name="registrationNumber" id="registrationNumber">
                    <span id="errorRegistrationNumber" class="errors-text"></span>
                    <label for="insuranceNumber">Numer ubezpieczenia:<sup>*</sup></label>
                    <input type="text" name="insuranceNumber" id="insuranceNumber">
                    <span id="errorInsuranceNumber" class="errors-text"></span>
                    <div class="form-buttons">
                        <p id="errorsSummary" class="errors-text"></p>
                        <input type="submit" value="Dodaj" class="form-button-submit"/>
                        <a href="list.ejs" class="form-button-cancel">Anuluj</a>
                    </div>
                </form>
            </main>
            <div class="rightPanel">
                <h4>
                    Przypominamy, że z powodu obecnej sytuacji epidemiologicznej obsługa interesantów
                    odbywa się wyłącznie telefonicznie lub mailowo.
                </h4>
                <h4>
                    W związku z epidemią czas na rejestrację pojazdu zostaje wydłużony z 30 do 180 dni.
                </h4>
            </div>
        </div>
        <footer onmouseenter="changeFooter()">
            Mateusz, Godlewski, s19282, Copyright &copy;
        </footer>
    </body>
</html>