<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title>Wydział komunikacji</title>
        <link rel="icon" type="image/png" href="public/_images/icon.png"/>
        <link rel="stylesheet" href="../../../public/_css/style.css">
        <script src="public/_js/script.js"></script>
        <script src="public/_js/validationCommon.js"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </head>
    <body>
        <header>
            <h1>Wydział komunikacji</h1>
            <img src="public/_images/icon.png" alt="WK logo">
        </header>
        <div class="centerBox">
            <nav>
                <ul class="list-actions">
                    <li><a href="public/index.html">Strona główna</a></li>
                    <li><a href="../_html/owner-list.html">Właściciele</a></li>
                    <li><a href="list.ejs" class="active">Pojazdy właścicieli</a></li>
                    <li><a href="../_html/car-list.html">Zarejestrowane Pojazdy</a></li>
                </ul>
            </nav>
            <main>
                <h2>Lista właścicieli pojazdów</h2>
                <table class="table-list">
                    <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Marka</th>
                        <th>Model</th>
                        <th>Numer rejestracyjny</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Jan</td>
                        <td>Kowalski</td>
                        <td>Mazda</td>
                        <td>Rx-8</td>
                        <td>ABB 68433</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="details.ejs" class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="edit.ejs" class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete ">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Jan</td>
                        <td>Kowalski</td>
                        <td>Lexus</td>
                        <td>GS450H</td>
                        <td>ABC 30303</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="details.ejs" class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="edit.ejs" class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete ">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Kinga</td>
                        <td>Adamska</td>
                        <td>Infiniti</td>
                        <td>Fx50</td>
                        <td>BAE 98313</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="details.ejs" class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="edit.ejs" class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete ">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p><a href="form.ejs" class="button-add">Dodaj nowego właściciela auta</a> </p>
            </main>
            <div class="rightPanel">
                <h4>
                    Przypominamy, że z powodu obecnej sytuacji epidemiologicznej obsługa interesantów
                    odbywa się wyłącznie telefonicznie lub mailowo.
                </h4>
                <h4>
                    W związku z epidemią czas na rejestrację pojazdu zostaje wydłużony z 30 do 180 dni.
                </h4>
            </div>
        </div>
        <footer onmouseenter="changeFooter()">
            Mateusz, Godlewski, s19282, Copyright &copy;
        </footer>
    </body>
</html>