<%- include('../../fragments/header.ejs') %>
            <main>
                <h2>Lista właścicieli pojazdów</h2>
                <table class="table-list">
                    <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Marka</th>
                        <th>Model</th>
                        <th>Numer rejestracyjny</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Jan</td>
                        <td>Kowalski</td>
                        <td>Mazda</td>
                        <td>Rx-8</td>
                        <td>ABB 68433</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="/ownerVehicles/details/:ownerVehicleId" class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="/ownerVehicles/edit" class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete ">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Jan</td>
                        <td>Kowalski</td>
                        <td>Lexus</td>
                        <td>GS450H</td>
                        <td>ABC 30303</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="/ownerVehicles/details/:ownerVehicleId" class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="/ownerVehicles/edit" class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete ">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Kinga</td>
                        <td>Adamska</td>
                        <td>Infiniti</td>
                        <td>Fx50</td>
                        <td>BAE 98313</td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="/ownerVehicles/details/:ownerVehicleId" class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="/ownerVehicles/edit" class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href="" class="list-actions-button-delete ">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p><a href="/ownerVehicles/add" class="button-add">Dodaj nowego właściciela auta</a> </p>
            </main>
<%- include('../../fragments/footer.ejs') %>