# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Mateusz\Desktop\PJATK\Rok 3\Semestr 1\TIN\Github\TIN\tin-react-projekt-godlewski-s19282\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
